.header{
    position: sticky !important;
    background-color:#764abc;
}

.nav_link{
    color: white;
}
.nav_items{
    text-decoration: none;
    color: white;
}
.navbar{
    color:white;
}
body{
    background-color:whitesmoke;
}
.image_logo{
    width: 100%;
    height: 22px;
}
.cart_items{
    position: absolute;
    left: 18px;
    top: 2px;
    color: black;
}
.cart_container{
   position: relative;
}